:root{
    // SETTING GUTTER: 
    --var-gp-1: 4px;
    --var-gp-2: 8px;
    --var-gp-3: 12px;
    --var-gp-4: 16px;
    --var-gp-5: 20px;
    
    --var-gm-1: -4px;
    --var-gm-2: -8px;
    --var-gm-3: -12px;
    --var-gm-4: -16px;
    --var-gm-5: -20px;
    
    --var-gmb-1: 8px;
    --var-gmb-2: 16px;
    --var-gmb-3: 24px;
    --var-gmb-4: 32px;
    --var-gmb-5: 40px;
}

.container{
    width: 100%;
    display: block;
    margin: auto;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    &.no-gutter{
        margin-left: 0;
        margin-right: 0;
        [class*="col-"]{
            padding-left: 0;
            padding-right: 0;
        }
    }
    &.g{
        &-1 {
            margin-left: var(--var-gm-1);
            margin-right: var(--var-gm-1);
        
            [class*='col-'] {
                padding-right: var(--var-gp-1);
                padding-left: var(--var-gp-1);
                margin-bottom: var(--var-gmb-1);
            }
        }
        
        &-2 {
            margin-left: var(--var-gm-2);
            margin-right: var(--var-gm-2);
        
            [class*='col-'] {
                padding-right: var(--var-gp-2);
                padding-left: var(--var-gp-2);
                margin-bottom: var(--var-gmb-2);
            }
        }
        
        &-3 {
            margin-left: var(--var-gm-3);
            margin-right: var(--var-gm-3);
        
            [class*='col-'] {
                padding-right: var(--var-gp-3);
                padding-left: var(--var-gp-3);
                margin-bottom: var(--var-gmb-3);
            }
        }
        
        &-4 {
            margin-left: var(--var-gm-4);
            margin-right: var(--var-gm-4);
        
            [class*='col-'] {
                padding-right: var(--var-gp-4);
                padding-left: var(--var-gp-4);
                margin-bottom: var(--var-gmb-4);
            }
        }
        
        &-5 {
            margin-left: var(--var-gm-5);
            margin-right: var(--var-gm-5);
        
            [class*='col-'] {
                padding-right: var(--var-gp-5);
                padding-left: var(--var-gp-5);
                margin-bottom: var(--var-gmb-5);
            }
        }
    }
}

[class*="col-"]{
    padding-left: 0.25px;
    padding-right: 0.25px;
    display: block;
}
// display none;
.col{
    &-0{
        display: none;
    }
    &-xl-0{
        display: none;
    } 
    &-lg-0{
        display: none;
    }
    &-md-0{
        display: none;
    }
    &-sm-0{
        display: none;
    }
}

// FULL SCREEN PUSH IF NO s-sm-md-lg-xl|
.col {
    &-1 {
        flex: 0 0 calc(100% / 12);
        max-width: calc(100% / 12);
    }

    &-2 {
        flex: 0 0 calc(100% / 6);
        width: calc(100% / 6);
    }

    &-3 {
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
    }

    &-4 {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }

    &-5 {
        flex: 0 0 calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    &-6 {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }

    &-7 {
        flex: 0 0 calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    &-8 {
        flex: 0 0 calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    &-9 {
        flex: 0 0 calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    &-10 {
        flex: 0 0 calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    &-11 {
        flex: 0 0 calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    &-12 {
        flex: 0 0 100%;
        width: 100%;
    }

    &-12-5 {
        flex: 0 0 calc(100% / 5);
        width: calc(100% / 5);
    }
}

// NO GUTTER

// ofs
.ofs{
    &-1 {
        margin-left: calc(100% / 12);
    }

    &-2 {
        margin-left: calc(100% / 6);
    }

    &-3 {
        margin-left: calc(100% / 4);
    }

    &-4 {
        margin-left: calc(100% / 3);
    }

    &-5 {
        margin-left: calc(100% / 12 * 5);
    }

    &-6 {
        margin-left: calc(100% / 2);
    }

    &-7 {
        margin-left: calc(100% / 12 * 7);
    }

    &-8 {
        margin-left: calc(100% / 12 * 8);
    }

    &-9 {
        margin-left: calc(100% / 12 * 9);
    }

    &-10 {
        margin-left: calc(100% / 12 * 10);
    }

    &-11 {
        margin-left: calc(100% / 12 * 11);
    }

    &-12-5 {
        margin-left: calc(100% / 5);
    }
}
//SMALL MOBILE : ROW --- WIDTH > 320px && WIDTH > 480px
@media (min-width: 20em){
    // GUTTER 4
    .row{
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }

    [class*="col-sm"]{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .col-s {
        &-1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }

        &-2 {
            flex: 0 0 calc(100% / 6);
            width: calc(100% / 6);
        }

        &-3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &-4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &-5 {
            flex: 0 0 calc(100% / 12 * 5);
            max-width: calc(100% / 12 * 5);
        }

        &-6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &-7 {
            flex: 0 0 calc(100% / 12 * 7);
            max-width: calc(100% / 12 * 7);
        }

        &-8 {
            flex: 0 0 calc(100% / 12 * 8);
            max-width: calc(100% / 12 * 8);
        }

        &-9 {
            flex: 0 0 calc(100% / 12 * 9);
            max-width: calc(100% / 12 * 9);
        }

        &-10 {
            flex: 0 0 calc(100% / 12 * 10);
            max-width: calc(100% / 12 * 10);
        }

        &-11 {
            flex: 0 0 calc(100% / 12 * 11);
            max-width: calc(100% / 12 * 11);
        }

        &-12 {
            flex: 0 0 100%;
            width: 100%;
        }

        &-12-5 {
            flex: 0 0 calc(100% / 5);
            width: calc(100% / 5);
        }
    }

    // ofs
    .ofs-s{
        &-1 {
            margin-left: calc(100% / 12);
        }

        &-2 {
            margin-left: calc(100% / 6);
        }

        &-3 {
            margin-left: calc(100% / 4);
        }

        &-4 {
            margin-left: calc(100% / 3);
        }

        &-5 {
            margin-left: calc(100% / 12 * 5);
        }

        &-6 {
            margin-left: calc(100% / 2);
        }

        &-7 {
            margin-left: calc(100% / 12 * 7);
        }

        &-8 {
            margin-left: calc(100% / 12 * 8);
        }

        &-9 {
            margin-left: calc(100% / 12 * 9);
        }

        &-10 {
            margin-left: calc(100% / 12 * 10);
        }

        &-11 {
            margin-left: calc(100% / 12 * 11);
        }

        &-12-5 {
            margin-left: calc(100% / 5);
        }
    }
}

//MOBILE : ROW - COL --- WIDTH > 480px && WIDTH < 740px 
@media (min-width: 30em){
    // GUTTER 8
    .row{
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }

    [class*="col-sm"]{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .col-sm {
        &-1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }

        &-2 {
            flex: 0 0 calc(100% / 6);
            width: calc(100% / 6);
        }

        &-3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &-4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &-5 {
            flex: 0 0 calc(100% / 12 * 5);
            max-width: calc(100% / 12 * 5);
        }

        &-6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &-7 {
            flex: 0 0 calc(100% / 12 * 7);
            max-width: calc(100% / 12 * 7);
        }

        &-8 {
            flex: 0 0 calc(100% / 12 * 8);
            max-width: calc(100% / 12 * 8);
        }

        &-9 {
            flex: 0 0 calc(100% / 12 * 9);
            max-width: calc(100% / 12 * 9);
        }

        &-10 {
            flex: 0 0 calc(100% / 12 * 10);
            max-width: calc(100% / 12 * 10);
        }

        &-11 {
            flex: 0 0 calc(100% / 12 * 11);
            max-width: calc(100% / 12 * 11);
        }

        &-12 {
            flex: 0 0 100%;
            width: 100%;
        }

        &-12-5 {
            flex: 0 0 calc(100% / 5);
            width: calc(100% / 5);
        }
    }

    // ofs
    .ofs-sm{
        &-1 {
            margin-left: calc(100% / 12);
        }

        &-2 {
            margin-left: calc(100% / 6);
        }

        &-3 {
            margin-left: calc(100% / 4);
        }

        &-4 {
            margin-left: calc(100% / 3);
        }

        &-5 {
            margin-left: calc(100% / 12 * 5);
        }

        &-6 {
            margin-left: calc(100% / 2);
        }

        &-7 {
            margin-left: calc(100% / 12 * 7);
        }

        &-8 {
            margin-left: calc(100% / 12 * 8);
        }

        &-9 {
            margin-left: calc(100% / 12 * 9);
        }

        &-10 {
            margin-left: calc(100% / 12 * 10);
        }

        &-11 {
            margin-left: calc(100% / 12 * 11);
        }

        &-12-5 {
            margin-left: calc(100% / 5);
        }
    }
}

//TABLET: ROW - COL --- WIDTH > 740px && WIDTH < 1113px
@media (min-width: 46.25em){
    // GUTTER 12
    .row{
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    [class*="col-md"]{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .col-md {
        &-1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }

        &-2 {
            flex: 0 0 calc(100% / 6);
            width: calc(100% / 6);
        }

        &-3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &-4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &-5 {
            flex: 0 0 calc(100% / 12 * 5);
            max-width: calc(100% / 12 * 5);
        }

        &-6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &-7 {
            flex: 0 0 calc(100% / 12 * 7);
            max-width: calc(100% / 12 * 7);
        }

        &-8 {
            flex: 0 0 calc(100% / 12 * 8);
            max-width: calc(100% / 12 * 8);
        }

        &-9 {
            flex: 0 0 calc(100% / 12 * 9);
            max-width: calc(100% / 12 * 9);
        }

        &-10 {
            flex: 0 0 calc(100% / 12 * 10);
            max-width: calc(100% / 12 * 10);
        }

        &-11 {
            flex: 0 0 calc(100% / 12 * 11);
            max-width: calc(100% / 12 * 11);
        }

        &-12 {
            flex: 0 0 100%;
            width: 100%;
        }

        &-12-5 {
            flex: 0 0 calc(100% / 5);
            width: calc(100% / 5);
        }
    }

    // ofs
     .ofs-md{
        &-1 {
            margin-left: calc(100% / 12);
        }

        &-2 {
            margin-left: calc(100% / 6);
        }

        &-3 {
            margin-left: calc(100% / 4);
        }

        &-4 {
            margin-left: calc(100% / 3);
        }

        &-5 {
            margin-left: calc(100% / 12 * 5);
        }

        &-6 {
            margin-left: calc(100% / 2);
        }

        &-7 {
            margin-left: calc(100% / 12 * 7);
        }

        &-8 {
            margin-left: calc(100% / 12 * 8);
        }

        &-9 {
            margin-left: calc(100% / 12 * 9);
        }

        &-10 {
            margin-left: calc(100% / 12 * 10);
        }

        &-11 {
            margin-left: calc(100% / 12 * 11);
        }

        &-12-5 {
            margin-left: calc(100% / 5);
        }
    }
}

// PC: ROW - COL --- WIDTH >1113px && WIDTH < 1240px
@media (min-width: 69.5625em){
    // GUTTER 16
    .row{
        margin-left: -1rem;
        margin-right: -1rem;
    }

    [class*="col-"]{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .col-lg {
        &-1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }

        &-2 {
            flex: 0 0 calc(100% / 6);
            width: calc(100% / 6);
        }

        &-3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &-4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &-5 {
            flex: 0 0 calc(100% / 12 * 5);
            max-width: calc(100% / 12 * 5);
        }

        &-6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &-7 {
            flex: 0 0 calc(100% / 12 * 7);
            max-width: calc(100% / 12 * 7);
        }

        &-8 {
            flex: 0 0 calc(100% / 12 * 8);
            max-width: calc(100% / 12 * 8);
        }

        &-9 {
            flex: 0 0 calc(100% / 12 * 9);
            max-width: calc(100% / 12 * 9);
        }

        &-10 {
            flex: 0 0 calc(100% / 12 * 10);
            max-width: calc(100% / 12 * 10);
        }

        &-11 {
            flex: 0 0 calc(100% / 12 * 11);
            max-width: calc(100% / 12 * 11);
        }

        &-12 {
            flex: 0 0 100%;
            width: 100%;
        }

        &-12-5 {
            flex: 0 0 calc(100% / 5);
            width: calc(100% / 5);
        }
    }

    // ofs
    .ofs-lg{
        &-1 {
            margin-left: calc(100% / 12);
        }

        &-2 {
            margin-left: calc(100% / 6);
        }

        &-3 {
            margin-left: calc(100% / 4);
        }

        &-4 {
            margin-left: calc(100% / 3);
        }

        &-5 {
            margin-left: calc(100% / 12 * 5);
        }

        &-6 {
            margin-left: calc(100% / 2);
        }

        &-7 {
            margin-left: calc(100% / 12 * 7);
        }

        &-8 {
            margin-left: calc(100% / 12 * 8);
        }

        &-9 {
            margin-left: calc(100% / 12 * 9);
        }

        &-10 {
            margin-left: calc(100% / 12 * 10);
        }

        &-11 {
            margin-left: calc(100% / 12 * 11);
        }

        &-12-5 {
            margin-left: calc(100% / 5);
        }
    }
}

// PC: ROW - COL --- WIDTH > 1240px
@media (min-width: 77.5em){
    // GUTTER 16
    .row{
        margin-left: -1rem;
        margin-right: -1rem;
    }

    [class*="col-"]{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .col-xl {
        &-1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }

        &-2 {
            flex: 0 0 calc(100% / 6);
            width: calc(100% / 6);
        }

        &-3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &-4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &-5 {
            flex: 0 0 calc(100% / 12 * 5);
            max-width: calc(100% / 12 * 5);
        }

        &-6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &-7 {
            flex: 0 0 calc(100% / 12 * 7);
            max-width: calc(100% / 12 * 7);
        }

        &-8 {
            flex: 0 0 calc(100% / 12 * 8);
            max-width: calc(100% / 12 * 8);
        }

        &-9 {
            flex: 0 0 calc(100% / 12 * 9);
            max-width: calc(100% / 12 * 9);
        }

        &-10 {
            flex: 0 0 calc(100% / 12 * 10);
            max-width: calc(100% / 12 * 10);
        }

        &-11 {
            flex: 0 0 calc(100% / 12 * 11);
            max-width: calc(100% / 12 * 11);
        }

        &-12 {
            flex: 0 0 100%;
            width: 100%;
        }

        &-12-5 {
            flex: 0 0 calc(100% / 5);
            width: calc(100% / 5);
        }
    }

    // ofs
    .ofs-xl{
        &-1 {
            margin-left: calc(100% / 12);
        }

        &-2 {
            margin-left: calc(100% / 6);
        }

        &-3 {
            margin-left: calc(100% / 4);
        }

        &-4 {
            margin-left: calc(100% / 3);
        }

        &-5 {
            margin-left: calc(100% / 12 * 5);
        }

        &-6 {
            margin-left: calc(100% / 2);
        }

        &-7 {
            margin-left: calc(100% / 12 * 7);
        }

        &-8 {
            margin-left: calc(100% / 12 * 8);
        }

        &-9 {
            margin-left: calc(100% / 12 * 9);
        }

        &-10 {
            margin-left: calc(100% / 12 * 10);
        }

        &-11 {
            margin-left: calc(100% / 12 * 11);
        }

        &-12-5 {
            margin-left: calc(100% / 5);
        }
    }
}

// ---------------CONTAINER------------------
// PC: WIDTH > 1720px
@media ( min-width: 107.5em ){
    .container{
        width: 90%;
    }
}

// PC: WIDTH > 1440px && WIDTH < 1720px
@media ( min-width: 90em ) and (max-width: 107.4375em){
    .container{
        width: 1400px;
    }
}

// PC: WIDTH > 1240px && WIDTH < 1440px
@media ( min-width: 77.5em ) and (max-width: 89.9375em){
    .container{
        width: 1200px;
    }
}

// PC: WIDTH > 1024px && WIDTH < 1240px;
@media ( min-width: 64em ) and (max-width: 77.4375em){
    .container{
        width: 984px;
    }
}

/* Tablet:  WIDTH > 740px && WIDTH < 1024px */
@media (min-width: 46.25em) and (max-width:63.9375em){
    :root{
        // SETTING GUTTER: 
        --var-gp-1: 2px;
        --var-gp-2: 4px;
        --var-gp-3: 6px;
        --var-gp-4: 8px;
        --var-gp-5: 10px;
        
        --var-gm-1: -2px;
        --var-gm-2: -4px;
        --var-gm-3: -6px;
        --var-gm-4: -8px;
        --var-gm-5: -10px;
        
        --var-gmb-1: 4px;
        --var-gmb-2: 8px;
        --var-gmb-3: 12px;
        --var-gmb-4: 16px;
        --var-gmb-5: 20px;
    }

    .container{
        width: 644px;
    }
}

/* MOBILE: WIDTH < 740px */
@media (max-width: 46.1875em){
    :root{
        // SETTING GUTTER: 
        --var-gp-1: 1px;
        --var-gp-2: 2px;
        --var-gp-3: 3px;
        --var-gp-4: 4px;
        --var-gp-5: 5px;
        
        --var-gm-1: -1px;
        --var-gm-2: -2px;
        --var-gm-3: -3px;
        --var-gm-4: -4px;
        --var-gm-5: -5px;
        
        --var-gmb-1: 2px;
        --var-gmb-2: 4px;
        --var-gmb-3: 5px;
        --var-gmb-4: 8px;
        --var-gmb-5: 10px;
    }

    .container{
        width: 90%;
    }

}