.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-clear{
    clear: both;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.position-initial{
    position:initial
}