.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-clear{
    clear: both;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.position-initial{
    position:initial
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.d-inline-block{
    display: inline-block;
}
.d-none{
    display: none;
}
.d-webkit-box{
    display: -webkit-box;
}
.j-center{
    justify-content: center;
}
.j-between{
    justify-content: space-between;
}
.j-evenly{
    justify-content: space-evenly;
}
.j-around{
    justify-content: space-around;
}
.j-start{
    justify-content: flex-start;
}
.j-end{
    justify-content: flex-end;
}
.a-center{
    align-items: center;
}